@import "../../assets/global.scss";

#modal {
    position: fixed;
    background-color: rgba($black, $opacity);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow-y: auto;
    display: block;
    pointer-events: none;
    opacity: 0;
    transition: .1s ease-in-out;

    &.show {
        pointer-events: unset;
        opacity: 1;
    }

    .modal-dialog {
        position: relative;
        margin: 4rem auto;
        max-width: 600px;
        z-index: 1000;
        background-color: $white;
        padding: 3.5rem 0 0;

        &.lg-width {
            max-width: 850px;
        }
    }

    .modal-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-bottom: 3rem;

        @media (max-width: $sm) {
            margin-bottom: 2rem;
        }

        .btn {
            position: absolute;
            right: 1.25rem;
            top: -2.25rem;
            width: 30px;
            height: 30px;

            &:hover {
                .line {
                    background-color: $primary-color;
                }
            }
        }

        .desc {
            margin-top: 1rem;
        }
    }

    .line {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $black;
        transition: .1s ease-in-out;
        width: 100%;
        transform: translateY(-50%) rotate(45deg);

        &:first-child {
            transform: translateY(-50%) rotate(-45deg);
        }
    }

    .btn-tool {
        background-color: $white;

        svg {
            color: $primary-color;
            font-size: 1.8em;
        }
    }

    .rc-md-editor {
        border-radius: .25rem;
    }

    &.dark {
        .modal-dialog {
            color: $white;
            background-color: $dark;
        }

        .line {
            background-color: $white;

            &:hover {
                background-color: $primary-color-dark;
            }
        }
    }
}