@import "_reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    font-family: $main-font;
    line-height: $line-height;
    letter-spacing: .15px;
    background: radial-gradient(75.2% 83.25% at 47.95% 50%, rgba(97, 0, 194, .06) 0%, rgba(97, 0, 194, 0) 100%);

    &.lock-scroll {
        overflow: hidden;
    }
}

a {
    outline: none !important;
    text-decoration: none;

    &:focus {
        color: $primary-color;
    }
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.main-title {
    font-size: $main-title-size;
    line-height: $line-height;

    @media (max-width: $lg) {
        font-size: 2.2em;
    }
}

.title {
    font-size: $title-size;
    line-height: $line-height;
}

.subtitle {
    font-size: $subtitle-size;
    line-height: $line-height;
}

section:not(.sec-md, .sec-html) {
    padding: 4rem 0 2rem;

    @media (max-width: $lg) {
        padding: 3.5rem 0;
    }
}

main {
    padding-top: 80px;
    flex: 1;
}

.container {
    box-sizing: border-box;
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }

    @media (min-width: 1400px) {
        max-width: 1200px;
    }
}

.custom-html-style {
    ul {
        list-style-type: disc;
        padding-left: 1.5rem;
    }
}

.btn {
    outline: none;
    border: 0;
    border-radius: .25rem;
    font-family: $main-font;
    box-sizing: border-box;
    transition: .1s ease-in-out;
    text-align: center;
    background-color: transparent;

    &.btn-primary {
        background: $primary-color;
        color: $white;
        padding: .5rem 1.1rem;
        border: 2px solid $primary-color;

        &:hover {
            background: darken($primary-color, 8%);
            border-color: darken($primary-color, 8%);
        }

        &:disabled {
            background: darken($primary-color, 8%);
            border-color: darken($primary-color, 8%);
        }
    }

    &.btn-secondary {
        border: 2px solid $primary-color;
        padding: .5rem 1.1rem;
        background-color: $white;
        color: $primary-color;

        &:hover {
            background: $primary-color;
            color: $white;
        }
    }
}

.form-control {
    display: flex;
    flex-direction: column;
}

.form-radio {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding-left: .4rem;

    input[type=radio] {
        width: 20px;
        height: 20px;
        border: 1px solid $primary-color;
        outline: none;
        -webkit-appearance: none;
        border-radius: 50%;

        &:hover {
            background-color: $grey-1;
        }

        &:checked {
            background: url(../assets/img/radio.svg);
            background-size: contain;
        }
    }

    label {
        margin: 0 0 0 1rem;
        font-size: 1.3em;
    }
}

.form-checkbox {
    padding-left: .4rem;
    margin-bottom: .75rem;
    display: flex;
    align-items: center;

    input[type=checkbox] {
        width: 18px;
        height: 18px;
        position: relative;

        &:checked::after {
            background: url(../assets/img/checkbox.svg);
            background-size: contain;
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            background: $grey-1;
            border: 1px solid $primary-color;
        }
    }

    label {
        margin: 0 0 0 1rem;
        font-size: 1.3em;
    }
}

textarea {
    min-height: 100px;
}

input,
textarea {
    border-radius: .25rem;
    border: 1px solid $grey-2;
    padding: .44rem .6rem;
    box-sizing: border-box;
    font-family: $main-font;

    &.is-invalid {
        border-color: $red;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px $white inset !important;
    }
}

.error-message {
    max-height: 0;
    transition: .3s ease-in-out;
    opacity: 0;
    box-sizing: border-box;
    display: flex;
    font-size: .9em;
    margin-left: .5rem;
    color: $red;
    position: relative;
    top: .4rem;

    &.show {
        opacity: 1;
        align-items: flex-end;
        max-height: 50px;
    }
}

.white-card {
    background-color: $white;
    padding: 3rem 4rem 2.5rem;

    @media (max-width: $lg) {
        padding: 1.5rem 1rem 1rem;
    }

    @media (max-width: $lg) {
        margin: 0 -0.5rem;
    }
}

body.dark {
    background: radial-gradient(75.2% 83.25% at 47.95% 50%, rgba(165, 76, 255, 0.06) 0%, rgba(97, 0, 194, 0) 100%) $dark;
    color: $white;

    .btn.btn-primary {
        background: $primary-color-dark;
        border: 2px solid $primary-color-dark;

        &:hover {
            background: darken($primary-color-dark, 8%);
            border-color: darken($primary-color-dark, 8%);
        }

        &:disabled {
            background: darken($primary-color-dark, 8%);
            border-color: darken($primary-color-dark, 8%);
        }
    }

    .btn.btn-secondary {
        border: 2px solid $primary-color-dark;
        color: $primary-color-dark;

        &:hover {
            background: $primary-color-dark;
            color: $white;
        }
    }

    .white-card {
        background-color: $dark;
    }

    textarea,
    input:not(.react-datetime-picker__inputGroup__input) {
        border: 1px solid $grey-2;
    }

    input,
    textarea {
        background-color: $dark-2;
        color: $white;

        &::placeholder {
            color: $grey-2;
        }

        &.is-invalid {
            border-color: $red;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px $dark-2 inset !important;
        }

        &:-webkit-autofill {
            -webkit-text-fill-color: $white !important;
        }
    }

    input[type=radio] {
        border-color: $primary-color-dark;

        &:checked {
            background: url(../assets/img/radio-dark.svg);
            background-size: contain;
        }

        &:hover {
            background-color: $dark;
        }
    }

    .form-card {
        background-color: $black;
    }
}

.form-card {
    background-color: $white;
    padding: 2.5rem 3.5rem 3rem;
    box-sizing: $box-shadow-1;
    max-width: 400px;
    margin: 0 auto;
    border-radius: .25rem;
}