// Colors
$black:#000;
$white: #fff;
$green: #198754;
$red: #dc3545;
$warning: #0dcaf0;
$primary-color: #18a0fb;
$grey: #ced4da;

// Line height
$line-height: 1.35em;


// Font
$main-font: "Montserrat";

// Font Sizes
$title-size: 2em;
$subtitle-size: 1.5em;

// Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;