// Colors
$white: #fff;
$bg: #f2f6fc;
$green: #198754;
$green-1: #3dd68f;
$red: #dc3545;
$warning: #0dcaf0;
$primary-color:#6100c2;
$primary-color-dark: #9022ff;
$grey-1: #f9f9f9;
$grey-2: #ced4da;
$yellow: #ffc107;
$black:#000;
$dark-1: #0d0d0d;
$dark-2:#131313;
$scroll-bar-color: #cacaca;
$scroll-bar-color-dark: #b6b6b6;

$box-shadow-1: 0 0 15px -9px rgba(0, 0, 0, .25);
$box-shadow-1-dark: 0 0 15px -9px rgba(255, 255, 255, 0.25);

// Line height
$line-height: 1.35em;


// Font
$main-font: "Inter",
sans-serif;

// Font Sizes
$main-title-size: 3em;
$title-size: 2em;
$subtitle-size: 1.8em;
$label-size: .9em;

// Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Opacity
$opacity: .5;