@import "../../assets/global.scss";

#error {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
    }

    .title {
        margin-bottom: 2rem;
    }
}