@import "../../assets/global.scss";

#breadcrump {
    position: absolute;
    width: 100%;

    .breadcrump {
        margin: 1.25rem 0 0 4rem;
        display: flex;
        align-items: center;

        @media (max-width: $lg) {
            margin: 1.1rem 0 0 .75rem;
        }
    }

    svg {
        font-size: 1.4em;
        margin-right: .25rem;
    }

    a {
        &:hover {
            color: $primary-color;
        }
    }

    .separator {
        margin: 0 .5rem;
    }

    &.dark {

        a,
        svg {
            color: $primary-color-dark;
        }
    }
}