@import "../../../../assets/global.scss";

#task {
    display: flex;
    align-items: center;
    background-color: $grey-1;
    padding: 1rem 1.5rem;

    .id {
        font-size: $title-size;
        color: $primary-color;
        width: 40px;
    }

    .task-title {
        padding: 0 .5rem;
        display: flex;
    }

    .remain {
        width: 120px;
        margin-right: 1rem;
        text-align: right;
        margin-left: auto;
        color: $primary-color;
    }

    .text {
        margin-left: 2rem;
    }
}