@import "../../assets/global.scss";

#task-show {
    .title {
        margin-bottom: 1.75rem;
    }

    .priority {
        display: flex;
        margin-bottom: 1.5rem;

        @media (max-width: $md) {
            margin: 0;
        }

        .star {
            color: $yellow;
            font-size: 1.7em;
            margin-right: .45rem;
        }
    }

    .created {
        margin-bottom: .5rem;

        @media (max-width: $md) {
            margin: 0;
        }
    }

    .created span,
    .due span {
        min-width: 85px;
        color: $primary-color;
        display: inline-block;
    }

    .task-footer {
        display: grid;
        grid-template-columns: auto auto;
        padding-top: 1.5rem;
        margin-top: 1.5rem;
        border-top: 1px dashed $primary-color;

        @media (max-width: $md) {
            grid-template-columns: 1fr;
        }
    }

    .group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        grid-row: 1/3;
        grid-column: 2/3;

        @media (max-width: $md) {
            flex-direction: row;
            align-items: center;
            grid-row: 2/3;
            grid-column: 1/2;
            margin: 1rem 0 .5rem;
        }
    }

    .btns-edit {
        margin-top: 1.5rem;

        .btn:first-child {
            margin-right: .75rem;
        }
    }

    &.dark {

        .created span,
        .due span {
            color: $primary-color-dark;
        }

        .task-footer {
            border-top: 1px dashed $primary-color-dark;
        }
    }
}