@import "../../assets/global.scss";

#footer {
    background-color: $white;
    padding: 1.25rem 0;
    box-shadow: $box-shadow-1;

    .container {
        display: flex;
        justify-content: center;
    }

    p {
        @media (max-width: $sm) {
            text-align: center;
        }
    }

    a {
        color: $primary-color;
    }

    span {
        @media (max-width: 440px) {
            display: block;
            margin-top: -15px;
            visibility: hidden;
        }
    }
}