@import "../../assets/global.scss";

#footer {
    background-color: $white;
    padding: 1.25rem 0;
    box-shadow: $box-shadow-1;

    .container {
        display: flex;
        justify-content: center;
    }

    a {
        color: $primary-color;
    }
}