.btn-remove,
.btn-edit {
    font-size: 1.4em;
    color: $white;
    width: 45px;
    height: 45px;
}

.btn-edit {
    background-color: $yellow !important;
}

.btn-remove {
    background-color: $red !important;
}