.markdown-editor {
    &.dark {
        .section-container {
            background: $dark-1 !important;
            color: $white !important;
        }

        i {
            color: $white !important;
        }

        .rc-md-navigation {
            background-color: $dark-2;
        }
    }
}