.tool-button {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        transform: translateY(-2px);
    }

    svg {
        font-size: 1.8em;
        color: $primary-color;
    }

    &.btn-clear-search {
        svg {
            color: $red !important;
        }
    }

    &.btn-uncompleted,
    &.btn-completed {
        background-color: $green;
        width: 45px;
        height: 45px;

        &:hover {
            transform: none;
        }

        svg {
            color: $white !important;
        }
    }

    &.btn-uncompleted {
        background-color: $red;
    }

    &.without-hover {
        &:hover {
            transform: none;
        }
    }

    &.dark {
        svg {
            color: $primary-color-dark;
        }
    }
}