@import "../../../../../assets/global.scss";

.tool-button {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        transform: translateY(-2px);
    }

    svg {
        font-size: 1.8em;
        color: $primary-color;
    }

    &.btn-clear-search {
        svg {
            color: $red;
        }
    }

    &.dark {
        svg {
            color: $primary-color-dark;
        }
    }
}